$primary-color-pink: #FFCCCB !default;
$primary-color-green: #ccfdcc !default;
body {
    background-color: $primary-color-green;
}
footer {
    text-align: center;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }